$fontfamily: 'Assistant', sans-serif;       // font family
$fontpcolor: #B3B6B9;

$primeShadowcolor: #DFDFDF;                 // card border and shadow color
$borderrad: 10px;                           // card border radius
$bordround: 50%;                            // border rounder
$hovbackcolor: rgb(0, 204, 102);

$gutter: 10px;                               //grid gutter


$modbackcolor: rgba(0, 0, 0, .6);
